@import "tailwindcss";

:root {
  --blacks-100: #090909;
  --blacks-200: #080808;
  --blacks-300: #0d0d0d;
  --whites-100: #ffffff;
  --whites-200: #d4d4d4;
  --accent: #69399d;
}

@theme inline {
  --color-blacks-100: var(--blacks-100);
  --color-blacks-200: var(--blacks-200);
  --color-blacks-300: var(--blacks-300);
  --color-whites-100: var(--whites-100);
  --color-whites-200: var(--whites-200);
  --color-accent: var(--accent);

  --font-sans: var(--font-geist-sans);
  --font-unifractur: var(--font-unifractur), serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--blacks-200);
  color: var(--whites-100);
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

.main-gradient-90-deg {
  background: linear-gradient(
    90deg,
    var(--blacks-100) 0%,
    var(--blacks-300) 100%
  );
}

.bg-gradient-90-deg {
  background: linear-gradient(
    180deg,
    rgb(from var(--blacks-200) r g b / 1) 0%,
    rgb(from var(--blacks-200) r g b / 0.8) 7%,
    rgb(from var(--blacks-200) r g b / 0.6) 14%,
    rgb(from var(--blacks-200) r g b / 0.4) 20%,
    rgb(from var(--blacks-200) r g b / 0.15) 50%,
    rgb(from var(--blacks-200) r g b / 0.2) 83%,
    rgb(from var(--blacks-200) r g b / 0.6) 92%,
    rgb(from var(--blacks-200) r g b / 0.9) 100%
  );
}

.shadow-block {
  box-shadow: 0px 4px 4px 0px rgba(9, 9, 9, 0.25);
}

.bg-main {
  background-image: url("/main-bg.jpg");
  background-size: center;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  min-height: 72vh;
}

.bg-section-news {
  position: absolute;
  inset: 0;

  background-image: url("/logo/text-logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.05;
  z-index: -1;

  width: 100%;
}

.bg-group {
  position: relative;
  width: 100%;
  min-height: 73vh;
  overflow: hidden;
}

/* Слой с КАРТИНКОЙ */
.bg-group__image {
  position: absolute;
  inset: 0;

  background-image: url("/bg-group.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.25; /* ← ТОЛЬКО КАРТИНКА */
  z-index: 0;
}

.title-decor {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 22px;
}

.title-decor::before,
.title-decor::after {
  content: "";
  min-width: 18px;
  min-height: 18px;
  background-color: var(--accent);
  transform: rotate(-45deg);
  display: inline-block;
}

@media (max-width: 1348px) {
  .mobile-block-album {
    padding-right: 30px;
    padding-left: 271px;
  }
}

@media (max-width: 1280px) {
  .mobile-block-album {
    padding-right: 15px;
    padding-left: 150px;
  }
  .mobile-block-about {
    gap: 32px;
  }
}

@media (max-width: 1210px) {
  .mobile-block-album {
    padding-right: 15px;
    padding-left: 250px;
  }
}
